{% extends "etc/base.html" %}
{% load staticfiles %}
    {% block content %}

        <div id="index_content">
            <div id="index_leftdiv">
                    <img id="img_bigImage" src="{% static 'etc/images/button_hex_green.png' %}"
                         onmouseover="changeImage('{% static 'etc/images/button_hex_blue.png' %}'); style.cursor='pointer' "
                         onmouseout="changeImage('{% static 'etc/images/button_hex_green.png' %}')"
                         onclick="changeImage('{% static 'etc/images/button_hex_red.png' %}'); document.location='{% url 'etc:form' %}'"
                            />
                    <script type="text/javascript" language="javascript">
                        function changeImage(img){
                            document.getElementById('img_bigImage').src=img;
                        }
                    </script>
            </div>

            <div id="index_centerdiv">
                <h3>Welcome to MEGARA Online
                    <hr id="index_hr_special" />
                    Exposure Time Calculator version 0.4.2</h3>
            </div>

            <hr id="index_footerline">
            <div id="index_footer">
                <p id="copyright">&copy;2016 MEGARA</p>
            </div>
        </div>

    {% endblock%}

