{% extends "etc/base.html" %}
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}

    {% block head %}
            <title>MEGARA Online Exposure Time Calculator</title>
            <link href="{% static 'etc/webmegaraetc-0.4.2.css' %}" rel="stylesheet" type="text/css" />
            <script src="{% static 'etc/webmegaraetc-0.4.2.js' %}"></script>

            <script type="text/javascript">
                $(document).ready(function() {
                window.document.forms[0].submit();
                });
            </script>

    {% endblock %}

    {% block header %}
        {% include "etc/header.html" %}
    {% endblock %}


    {% block content %}


    <div id="wrapper">
        <div id="theformcontainer">
            <form id="myform" action="{% url 'etc:results' %}" method="get" target="my_iframe"> {% csrf_token %}
                <div id="leftdiv">
                    <p>Target Input Flux Distribution</p>
                    {% bootstrap_form form1 %}
                </div>

                <div id="rightdiv">
                    <p>Instrument Setup</p>
                    {% bootstrap_form form2 %}
                </div>
                <div id="rightdiv">
                    <p>Atmospheric Conditions</p>
                    {% bootstrap_form form3 %}
                </div>
                <div id="rightdiv">
                    <p>Observational Setup</p>
                    {% bootstrap_form form4 %}
                </div>

                <div id="submitbuttonsdiv">
                {% buttons class="aux"%}
                    {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" icon="star" %}
                    {% bootstrap_button "Reset" button_type="reset" button_class="btn-primary" icon="remove" %}
                {% endbuttons %}
                </div>

{#                <div id="submitbuttonsdiv">#}
{#                    <hr>#}
{#                    <table id="tablebuttons">#}
{#                        <tr>#}
{#                            <td align="left">#}
{#                                <input type="submit" value="Submit" id="btn1"/>#}
{#                                <input type="reset" value="Reset" />#}
{#                            </td>#}
{#                            <td align="center">#}
{#                                <a href=" {% static 'etc/TEC_MEG_057-2D.pdf' %} " TARGET=_blank >#}
{#                                    <input type="BUTTON" value="Manual v0.4.2">#}
{#                                </a>#}
{#                                <a href="Javascript:newPopupBig(' {% static 'etc/help/HELP.txt' %} ');">#}
{#                                    <input type="BUTTON" value="Help">#}
{#                                </a>#}
{#                                <input type='button' id='btn2' value='New Window'>#}
{#                                <a href="{% static 'etc/outputcalc.txt' %}" download>#}
{#                                    <input type="button" value="Print to file">#}
{#                                </a>#}
{#                            </td>#}
{#                            <td align="right">#}
{#                                <p id="smalltext">original ETC (offline) python v0.4.1 (114MB)</p>#}
{#                                <a href="{% static 'etc/megaraetc-0.4.1.tar' %}" download>#}
{#                                    <input type="button" value="Download">#}
{#                                </a>#}
{#                            </td>#}
{#                            <!--Required to output the result to different targets-->#}
{#                            <script>#}
{#                                var form = document.getElementById('myform');#}
{#                                form.onsubmit = function() {#}
{#                                form.target = 'my_iframe';#}
{#    #}
{#                                };#}
{#    #}
{#                                document.getElementById('btn2').onclick = function() {#}
{#                                form.target = '_blank';#}
{#                                form.submit();#}
{#                                }#}
{#                            </script>#}
{#                        </tr>#}
{#                    </table>#}
            </form>

    <!-- THE OUTPUT form STARTS HERE -->
            <div id="theoutput">
{#                <table>#}
{#                    <tr>#}
{#                        <td align="center">#}
{#                            <p>RESULTS</p>#}
{#                            <b>Output Continuum S/N:</b>#}
{#                            <a href="Javascript:newPopup(' {% static 'etc/help/continuumoutput.txt' %} ');">#}
{#                                <input type="BUTTON" value="?">#}
{#                            </a>#}
{#                            <b>Output Line S/N:</b>#}
{#                            <a href="Javascript:newPopup(' {% static 'etc/help/lineoutput.txt' %} ');">#}
{#                                <input type="BUTTON" value="?">#}
{#                            </a>#}
{#                            <b>Input Parameters:</b>#}
{#                            <a href="Javascript:newPopup(' {% static 'etc/help/inputparameters.txt' %} ');">#}
{#                                <input type="BUTTON" value="?">#}
{#                            </a>#}
{#                            <!--<video controls loop autoplay width=70px>-->#}
{#                              <!--<source src="{% static 'etc/movie.mp4' %}" type="video/mp4">-->#}
{#                              <!--<source src="{% static 'etc/movie.ogg' %}" type="video/ogg">-->#}
{#                              <!--Your browser does not support the video tag.-->#}
{#                            <!--</video>-->#}
{#                        </td>#}
{#                    </tr>#}
{#                </table>#}
{##}
                <div id="results">
                    <iframe id="my_iframe" name="my_iframe" src="{% url 'etc:results' %}">
                    </iframe>
                </div>
{##}
{#                <hr>#}
{#                MEGARA Online Exposure Time Calculator version 0.4.2<br />#}
{#                Report problems/bugs/requests to: Alexandre Y. K. BOUQUIN ( abouquin at fis.ucm.es )<br />#}
{##}
{#                <div style="float:right">#}
{#                    Released on: 01/31/2016. Last modified on:#}
{#                    <script language="JavaScript">#}
{#                    document.write(document.lastModified);#}
{#                    </script>#}
{#                </div>#}
            </div>
        </div>

    <!--CLOSE WRAPPER-->
    </div>

    {% endblock %}